/dist
/dist-newstyle
/result
*.lua
*.prof
*.svg
!/assets/*svg

src/Parser/Lexer.hs
src/Parser.hs
src/Language/Lua/Parser/Lexer.hs
src/Language/Lua/Parser/Parser.hs
src/**/*.info

!/tests/lua/*.lua
!/tests/lua_parse/*.lua

cabal.project.local*
.ghc*

doc/*.aux
doc/*.fdb_latexmk
doc/*.fls
doc/*.log
doc/*.pdf
doc/*.synctex.gz

/*.xml
