name: Amulet

trigger:
- master

pr:
  autoCancel: true
  branches:
    include:
    - '*'

resources:
  containers:
    - container: haskell
      image: 'haskell:8.6.5'

jobs:
- job: Build
  container: 'haskell'
  pool: { vmImage: 'ubuntu-latest' }
  steps:
  - script: stack build --fast
    displayName: 'Build Amulet'

- job: Test
  container: 'haskell'
  pool: { vmImage: 'ubuntu-latest' }
  dependsOn: Build
  steps:
  - script: stack test --fast --test-arguments "--xml junit.xml --display t"
    displayName: Run tests

  - task: PublishTestResults@2
    condition: succeededOrFailed()
    displayName: Publish test results
    inputs:
      testResultsFormat: 'JUnit'
      testResultsFiles: 'junit.xml'

- job: HLint
  container: 'haskell'
  pool: { vmImage: 'ubuntu-latest' }
  dependsOn: Build
  steps:
  - script: stack exec -- hlint --git
    displayName: Check code style
